{% extends 'admin/base.html.twig' %}


{% block body %}
	{% for message in app.flashes('notice') %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}

	<table class="articles-list">
		<thead>
			<tr>
				<td>
					Title
				</td>
				<td>
					Subtitle
				</td>
				<td>
					Date published
				</td>
				<td>
					Content
				</td>
				<td>
				Operations
				</td>
			</tr>
		</thead>
        <tbody>
        {% for article in articles %}
        <tr>
        <td>{{ article.title }} </td>
        <td>{{ article.subtitle }} </td>
        <td>{{ article.createdAt|date('d/m/y') }} </td>
        <td>{{ article.content|slice(4,10) }} </td>
		<td>
		<a class="btn btn-primary" href="{{ path('edit-article', { 'id': article.id }) }}">Edit</a>
		<a class="btn btn-secondary" href="{{ path('article-delete', { 'id': article.id }) }}">Delete</a>
        </tr>
    {% endfor %}
        </tbody>
	</table>

{% endblock %}

